<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="force-https">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_X_Forwarded_Proto}" pattern="^http$" />
          </conditions>
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite> 
  </system.webServer>
</configuration>