@model api.Messaging.Views.ConfirmationReminderEmailViewModel

@{
	Layout = "EmailLayout";
	var footerColorStyle = "color: lightgray;";
}

@Html.Raw(Model.Body.Replace("{CONFIRMATION_URL}", Model.WebServerEndpoint.CreateUrl("/confirmEmail?token=" + Model.ConfirmationToken)))

@section UnsubscribeNotice {
	<p style="@footerColorStyle">
		This is a one-time reminder to confirm your email address.<br />
		We promise we won't bother you again and you can always manage your communication preferences by clicking the link below.<br />
		<a href="@Model.WebServerEndpoint.CreateUrl("/email/subscriptions?token=" + Model.SubscriptionsToken)" style="@footerColorStyle">Manage your email subscriptions / Unsubscribe</a>
	</p>
}