@model api.Messaging.Views.EmailLayoutViewModel

@{ Layout = "EmailLayout"; }

<p><strong>Click <a href="https://chrome.google.com/webstore/detail/reallyreadit/mkeiglkfdfamdjehidenkklibndmljfi">here</a> to install the extension</strong></p>