@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.Shared.FollowerViewModel[]>

@{ Layout = "Layout"; }

<div style="margin:1.5em 0;">Congratulations, you have @(Model.Content.Count() > 1 ? $"{Model.Content.Count()} new followers" : "a new follower").</div>
@await Html.PartialAsync(
	"Shared/List",
	Model.Content,
	new ViewDataDictionary(ViewData) {
		{ "ViewName", "Shared/Follower" }
	}
)