@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.FreeTrialCompletionEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">We hope you are enjoying Readup so far. <span style="font-weight:bold;">Unfortunately, you have run out of free articles.</span></div>
<div style="margin:1em 0;">You can still poke around on Readup. And you can even click on links to view the articles on the web, but you’ll have to deal with distractions and you won’t be able to comment.</div>
<div style="margin:1em 0;"><span style="font-weight:bold;">For unlimited ad-free reading on Readup, <a href="@Model.Content.SubscribeUrl">buy a subscription</a>. Once you start paying, you get to watch your money go directly to the writers you read!</span> The minimum is $4.99/mo, but you can pick any price that feels right to you.</div>
<div style="margin:1em 0;">Reading matters. Supporting writers (with real money!) also matters. This is the beginning of a much brighter future for the web.</div>
<div style="margin:1em 0;">
	@await Html.PartialAsync("Shared/Button", (Text: "Subscribe now", Url: @Model.Content.SubscribeUrl))
</div>
<div style="margin:1em 0;">Sincerely,</div>
<div style="margin:1em 0;">
	Bill Loundy<br />
	CEO of Readup
</div>
<div style="margin:1em 0;">PS Want to learn more? In <a href="https://www.youtube.com/watch?v=JwQOsdnywUs">this video</a>, I explain how Readup plans to save the future of journalism. To contact me directly, just reply to this email.</div>
<div style="margin:1em 0;text-align:center;">
	<a href="https://www.youtube.com/watch?v=JwQOsdnywUs">
		<img src="@Model.CreateImageUrl("how-it-works-video-thumbnail.png")" alt="How It Works video thumbnail." style="width:100%;max-width:400px;" />
	</a>
</div>