@* Copyright (C) 2022 reallyread.it, inc. *@

@* This file is part of Readup. *@

@* Readup is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License version 3 as published by the Free Software Foundation. *@

@* Readup is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. *@

@* You should have received a copy of the GNU Affero General Public License version 3 along with Foobar. If not, see <https://www.gnu.org/licenses/>. *@

@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.InitialSubscriptionEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">Thanks for buying a subscription! We’re thrilled that you decided to start paying.</div>
<div style="margin:1em 0;">We’re proud that Readup isn’t free. That’s a big part of what makes it so special. It’s a better, more humane arrangement overall. Because you’re paying, the Readup team is highly motivated to make sure your experience on Readup is extremely positive.</div>
<div style="margin:1em 0;">Remember that most of what you pay (~90%) will go directly to the writers you read. And you can keep tabs - down to the penny!  - by clicking “My Impact.”</div>
<div style="margin:1em 0;">Don’t hesitate to reach out. I’d love to hear from you. Feel free to reply to this email.</div>
<div style="margin:1em 0;">
	Sincerely,<br />
 	Thor Galle<br />
	Co-founder of Readup
</div>
<div style="margin:1em 0;">PS The Readup team uses Slack to collaborate throughout the day. You’re welcome to <a href="https://join.slack.com/t/reallyreadit/shared_invite/zt-2t0yfzdc-xUeCngsEVmMjCxeslBHz6g">join us</a> there. It’s a great place to share your feedback and help us grow.</div>