@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.InitialSubscriptionEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">Thanks! We’re honored that you purchased a subscription and thrilled to have you in the community as a <span style="font-style:italic;">paying customer</span>.</div>
<div style="margin:1em 0;">This is what makes Readup so different from all other social media platforms. We’re proud that Readup isn’t free, and you should be proud to be paying. It’s a better overall arrangement. On free social sites, the advertisers are the customers and the “end-users” (you) are the product. That’s why you end up paying with your time, attention, privacy and sanity.</div>
<div style="margin:1em 0;">Also, remember that <span style="font-weight:bold;">most of the money you pay will go directly to the writers you read</span>. Readup takes a small cut (5%) and the entire process is transparent, ethical, and humane.</div>
<div style="margin:1em 0;">To get started, read a few articles and let me know what you think! I can’t wait to hear from you.</div>
<div style="margin:1em 0;">
	Sincerely,<br />
 	Bill<br />
	CEO/co-founder of Readup<br />
</div>
<div style="margin:1em 0;">P.S. <a href="@Model.Content.BillProfileUrl">Follow me</a> and my co-founder <a href="@Model.Content.JeffProfileUrl">Jeff</a>. We’ll follow you back :)</div><div style="margin:1em 0;">P.P.S. To stay true to our values, we don’t buy digital ads to promote Readup. Instead, we rely on word-of-mouth referrals. So please tell your friends about Readup!</div>