@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.PasswordResetEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">The link below is valid for 24 hours.</div>
@await Html.PartialAsync("Shared/Button", (Text: "Reset Password", Url: Model.Content.PasswordResetUrl))
<div style="margin:1.5em 0;text-align:center;font-style:italic;color:#666;">If you didn't request a password reset you can safely ignore this message.</div>