@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.ConfirmationEmailViewModel>

@{ Layout = "Layout"; }

<div style="margin:1em 0;">Dear Reader,</div>
<div style="margin:1em 0;">Humans today spend an unprecedented amount of time online. In 2018, the average American spent over six hours per day looking at digital media. It’s hard to say exactly what this screen-centric way of life is doing to our brains (not to mention our emotions and relationships) but many of us can feel the impact: <span style="font-weight:bold;">The more time we spend online, the harder it is to focus, concentrate, and read.</span></div>
<div style="margin:1em 0;"><span style="font-weight:bold;">Readup solves this problem. Here’s how it works: </span></div>
<ul style="margin:1em 0;padding:0 0 0 1.5em;">
	<li style="margin:0 0 1em 0;padding:0;"><span style="font-weight:bold;">Distraction-free reading.</span> Readup kills all ads and links. On the iOS app, it happens automatically, whenever you click into an article. On Chrome, click the browser button to enable “Reader Mode.”</li>
	<li style="margin:0 0 1em 0;padding:0;"><span style="font-weight:bold;">The best articles on the planet.</span> Readup organizes articles based on feedback from verified readers, so you only see the best of the best. The Article of the Day (AOTD) is crowdsourced by readers and always worth your time.</li>
	<li style="margin:0;padding:0;"><span style="font-weight:bold;">Speak your mind.</span> Don’t be shy. Post articles and make comments. Remember that nobody can comment on anything that they haven’t fully read which creates space to get vulnerable, honest and real.</li>
</ul>
<div style="margin:1em 0;">Reading isn’t always easy. Like all good things in life, it requires some discipline and work. Make the commitment to finish a few articles every day and over time you’ll get better at “relaxing into” the text and “getting lost” in stories.</div>
<div style="margin:1em 0;">Oh, and one more thing: Click the button below to confirm your email address.</div>
@await Html.PartialAsync("Shared/Button", (Text: "Confirm Email Address", Url: Model.Content.EmailConfirmationUrl))
<div style="margin:1em 0;">See you in the comments!</div>
<div style="margin:1em 0;">-Bill & Jeff</div>
