@model api.Messaging.Views.ConfirmationEmailViewModel

@{ Layout = "EmailLayout"; }

<p>Hey, @Model.Name!</p>
<p><strong>Welcome to reallyread.it!</strong></p>
<p>Please click <a href="@Model.WebServerEndpoint.CreateUrl("/confirmEmail?token=" + Model.Token)">here</a> to confirm your email address.</p>