@model api.Messaging.Views.LayoutViewModel<api.Messaging.Views.WelcomeEmailViewModel>

@{
	Layout = "Layout";
}

<div style="margin:1em 0;">Dear @Model.Content.UserName,</div>
<div style="margin:1em 0;">Welcome to Readup! You can see <a href="@Model.Content.ProfileUrl" style="font-weight:bold;">your profile</a> here.</div>
<div style="margin:1em 0;font-weight:bold;">The internet makes it hard to <span style="font-style:italic;">actually</span> read articles. We fixed that! And we’ve seen the positive impact that deep, focused reading has on people’s lives.</div>
<div style="margin:1em 0;">We hope that your first reading experiences are excellent. Whenever you open the Readup app, you’re always just one or two clicks away from a great article or story.</div>
<div style="margin:1em 0;">Finally, make sure to get Readup on <a href="@Model.Content.DownloadUrl">all your devices</a>.</div>
<div style="margin:1em 0;">Happy reading! I’ll see you in the comments!</div>
<div style="margin:1em 0;">Sincerely,</div>
<div style="margin:1em 0;">
	Bill Loundy<br />
	CEO of Readup
</div>
<div style="margin:1em 0;">P.S. I’d love to hear from you! Don’t hesitate to hit reply to this email.</div>